[Unit]
Description=Blackjackbot Service
After=network.target

[Service]
User=ec2-user
ExecStart=/usr/bin/java -jar /Aiden-Sean-Kris/target/dbot-1.0-SNAPSHOT-shaded.jar
WorkingDirectory=/Aiden-Sean-Kris/target
Restart=always

[Install]
WantedBy=multi-user.target
