[Unit]
Description=Blackjackbot Service
After=network.target

[Service]
Type=simple
ExecStart=/usr/bin/java -jar target/dbot-1.0-SNAPSHOT.jar
Restart=always
User=ec2-user

[Install]
WantedBy=multi-user.target
